body {
  background-color: #EE3F54;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bree Serif', serif;
}

.social-container {
  background: #1c3643;
}

.logo-container .callout {
  margin-bottom: 0;
}

.tabs-title {
  display: inline-block;
  float: none;
}

.lineup-container .orbit-container {
  margin-bottom: 1em;
}

.lineup-container .column:nth-child(odd) figcaption {
  text-align: right;
}